android/assets/www/*
android/bin
android/gen
android/local.properties

dist

ios/PhotoMapper.xcodeproj/project.xcworkspace/xcuserdata/*
ios/www/*

node_modules

npm-debug.log

PhotoMapper.sublime-project
PhotoMapper.sublime-workspace